<body>
    <main id="idtodofondologin">
        <div id="hijofondologin">
            <div id="cuadropadre">
                <div id="cuadroimagen">
                    <img src="https://dragon.grupofuturo.es/img/logo_2.png" alt="">
                </div>
                
                <form id ="formi" action="index.php" method="post">
                    <div>
                        <label for=""><span><i class="bi bi-person-fill"></i></span>
                            <input type="text" name="username" id="username" placeholder="Usuario"></label>
                    </div>
                    <br>
                    <div>
                        <label for=""><i class="bi bi-lock-fill"></i></span>
                        <input type="password" name="pswrd" id="pswrd" placeholder="Contrase&ntilde;a"></label><br>
                        <label for=""><input style="width: auto;" type="checkbox" id="mostrar_contrasenaLogin">
                            &nbsp;&nbsp;Mostrar Contraseña</label>
                    </div>
                    <br>
                    
                    <button>Iniciar Sesión </button>
                </form>
            </div>
        </div>
    </main>
</body>